/* Optional custom styles */
.nav-link {
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    background-color: #e9ecef;
    color: #007bff;
    cursor: pointer;
  }
  
  .nav-link.active {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .container-fluid {
    height: 100vh;
  }
  
  .bg-light {
    border-right: 1px solid #dee2e6;
  }
  
  .p-4 {
    padding: 2rem !important;
  }
  
  .smoky{
    background-color: whitesmoke;
  }

  .user-info-list li{
    background-color: lightgray !important
  }

  .spacer{
    height: 56px;
  }

  .image-resize{
    max-width: 400px;
    max-height: 230px;
    object-fit: contain;
  }
  .position-relative{
    height: 400px;
    position: relative !important;
  }
  .position-down{
    position: absolute !important;
    bottom: 0px;
    width: 90%;
  }